<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">

	<title>ZZCompany</title>
	<link rel="stylesheet" type="text/css" href="/front/dist/semantic.min.css">

	<style type="text/css">

		.container {
			padding-left: 8em;
		}

 	</style>

	<script src="/front/dist/jquery.min.js"></script>
	<script src="/front/dist/semantic.min.js"></script>
	<script>
		$(document).ready(function() {

			$('.ui.sidebar.menu').on('click', '.item', function() {
				if (!$(this).hasClass('dropdown')) {
					$(this)
						.addClass('active')
						.siblings('.item')
						.removeClass('active');

					var menuStr = "<iframe frameborder=\"0\" width=\"1920\" height=\"868\" name=\"work\" src=\"/views/admin_";
					menuStr += $(this).attr("name");
					menuStr += "\"></iframe>"
					$('#container').html(menuStr);
				}
			});

		});
	</script>

</head>
<body>

	<!-- Sidebar Menu -->
	<div class="ui visible vertical inverted sidebar labeled icon menu">
		<div class="item">
			<img class="ui tiny image" src="/images/logo.png">
		</div>
		<a name="news" class="active item">
			<i class="block layout icon"></i>
			公司动态
		</a>
		<a name="game" class="item">
			<i class="game icon"></i>
			游戏产品
		</a>
		<a name="work" class="item">
			<i class="smile icon"></i>
			招聘信息
		</a>
		<a name="about" class="item">
			<i class="home icon"></i>
			关于公司
		</a>
		<a name="setting" class="item">
			<i class="setting icon"></i>
			设置
		</a>
	</div>

	<!-- Page Contents -->
	<div class="pusher">

		<div class="ui inverted right aligned segment">
			<div class="right item">
			  	<a href="/logout" class="ui inverted button">Log out</a>
			</div>
		</div>

	  	<div class="container" id="container">
	    	<iframe frameborder="0" width="1920" height="868" name="work" src="/views/admin_news"></iframe>
	  	</div>

	</div>
	<!-- Page Contents -->

</body>

</html>
